<h1>Edit Exercises for <%= AppConstants::LABELS[@split_day.muscle_group.to_sym] %></h1>

<%= simple_form_for [@split_day.split_plan, @split_day], url: split_plan_split_day_path(@split_day.split_plan, @split_day), method: :put do |f| %>
  <div class="form-group">
    <% @available_exercises.each do |exercise| %>
      <div class="form-check">
        <%= check_box_tag "workout_names[]", exercise, @selected.include?(exercise), class: "form-check-input", id: exercise %>
        <%= label_tag exercise, exercise, class: "form-check-label" %>
      </div>
    <% end %>
  </div>

  <%= f.button :submit, "Save Exercises", class: "btn btn-primary mt-3" %>
<% end %>
